{% extends "base.html" %}

{% block content %}
<!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <img src="{{ url_for('static', filename = 'images/banner-img.png') }}" class="banner_img">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-sm-12">
                           <h1 class="banner_taital">{{ info.nombre }}</h1>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-sm-12">
                           <h1 class="banner_taital"> {{ info.nombre }}</h1>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-sm-12">
                           <h1 class="banner_taital">{{ info.nombre }}</h1>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-sm-12">
                           <h1 class="banner_taital">{{ info.nombre }}</h1>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- service section start -->
      <div class="service_section layout_padding">
         <div class="container">
            <h1 class="service_taital">Patrocinadores</h1>
            <div class="service_section_2 layout_padding">
               <div class="owl-carousel owl-theme">
                  <div class="item">
                     <div class="image_box">
                        <img class= "imagen-patrocinador" src="{{ url_for('static', filename = 'images/patrocinador1.png') }}" alt="#" />
                     </div>
                     <h3 class="sound_text">Red Bull</h3>
                    
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img class= "imagen-patrocinador" src="{{ url_for('static', filename = 'images/patrocinador2.png') }}" alt="#" />
                     </div>
                     <h3 class="sound_text">Nike</h3>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img class= "imagen-patrocinador" src="{{ url_for('static', filename = 'images/patrocinador3.png') }}" alt="#" />
                     </div>
                     <h3 class="sound_text">Adidas</h3>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img class= "imagen-patrocinador" src="{{ url_for('static', filename = 'images/patrocinador4.png') }}" alt="#" />
                     </div>
                     <h3 class="sound_text">Jordan</h3>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img class= "imagen-patrocinador" src="{{ url_for('static', filename = 'images/patrocinador5.png') }}" alt="#" />
                     </div>
                     <h3 class="sound_text">Puma</h3>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img class= "imagen-patrocinador" src="{{ url_for('static', filename = 'images/patrocinador6.png') }}" alt="#" />
                     </div>
                     <h3 class="sound_text">MTB true cyclist</h3>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img class= "imagen-patrocinador" src="{{ url_for('static', filename = 'images/patrocinador7.png') }}" alt="#" />
                     </div>
                     <h3 class="sound_text">Specialized</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
   
      <!-- service section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="about_main">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 class="about_taital">Informacion sobre el evento</h1>
                     <p class="about_text">
                        Organizador: {{ info.organizador }}<br>
                        Descripcion: {{ info.descripcion }}<br>
                        Fecha: {{ info.fecha }}<br>
                        Hora: {{ info.horario }}<br>
                        Tipo de carrera: {{ info.tipo_carrera }}
                     </p>
                     <div class="about_img"><img src="{{ url_for('static', filename = 'images/about-img.png') }}"></div>
                     <div class="readmore_bt">
                        <a href="{{ url_for('informacion')}}">Mas info</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- price section start -->
      <div class="price_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="price_taital">Modalidades</h1>
               </div>
            </div>
            <div class="price_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <h3 class="first_price_text">Corta</h3>
                     <div class="price_box">
                        <div class="taital_main">
                           <h4 class="rate_text"><span style="color: #f6815e;">$
                           </span>{% for key, modalidad in info.modalidad_costo.items() %}
                                    {% if modalidad["nombre"] == "corta" %}
                                       {{ modalidad["valor"] }}
                                    {% endif %}
                                 {% endfor %}
                           </h4>
                        </div>
                        <p class="dummy_text">
                           <a id="reglamento" href="{{ url_for('static', filename = 'pdf/reglamento MTB.pdf') }}" target="_blank">reglamento</a><br>
                           <a id="deslinde" href="{{ url_for('static', filename = 'pdf/consentimiento_participacion.pdf') }}" download="consentimiento_participacion.pdf">Deslinde participacion</a>
                        </p>
                        <div class="readmore_bt">
                           <a href="{{ url_for('registrarse') }}">Anotarse</a></div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <h3 class="first_price_text">Larga</h3>
                     <div class="price_box">
                        <div class="taital_main">
                           <h4 class="rate_text"><span style="color: #f6815e;">$</span>
                           {% for key, modalidad in info.modalidad_costo.items() %}
                                    {% if modalidad["nombre"] == "larga" %}
                                       {{ modalidad["valor"] }}
                                    {% endif %}
                                 {% endfor %}</h4>
                        </div>
                        <p class="dummy_text">
                           <a id="reglamento" href="{{ url_for('static', filename = 'pdf/reglamento MTB.pdf') }}" target="_blank">reglamento</a><br>
                           <a id="deslinde" href="{{ url_for('static', filename = 'pdf/consentimiento_participacion.pdf') }}" download="consentimiento_participacion.pdf">Deslinde participacion</a>
                        <div class="readmore_bt"><a href="{{ url_for('registrarse') }}">Anotarse</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- price section end -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>      
      
      <!-- client section start -->
      <div class="client_sectiion">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="client_taital">Importante</h1>
               </div>
            </div>
            <div id="custom_slider" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#custom_slider" data-slide-to="0" class="active"></li>
                  <li data-target="#custom_slider" data-slide-to="1"></li>
                  <li data-target="#custom_slider" data-slide-to="2"></li>
                  <li data-target="#custom_slider" data-slide-to="3"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="client_section_2">
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="{{ url_for('static', filename='images/kit.png') }}"></div>
                           </div>
                           <div class="client_right">
                              <h3 class="name_text">Kit de carrera <span style="float: right;"><img src="{{ url_for('static', filename='images/quick-icon.png') }}"></span></h3>
                              <p class="dolor_text">Ambas modalidades</p>
                              <ol class="lorem_text">
                                                   <li><strong>Cada participante deberá contar con el siguiente equipo:</strong></li>
                                                   <li><strong>Bicicleta:</strong> MTB con suspensión delantera o doble suspensión</li>
                                                   <li><strong>Casco:</strong> Integral o de trail</li>
                                                   <li><strong>Guantes:</strong> De MTB, preferentemente con protección</li>
                                                   <li><strong>Ropa:</strong> Camiseta técnica, pantalones cortos o largos, chaqueta ligera</li>
                                                   <li><strong>Calzado:</strong> Zapatillas de MTB con pedales automáticos o plataforma</li>
                                                   <li><strong>Hidratación:</strong> Bidón o mochila con capacidad mínima de 2 litros</li>
                                                   <li><strong>Nutrición:</strong> Barras energéticas, geles y frutas secas</li>
                                                   <li><strong>Herramientas:</strong> Kit básico de reparación (palancas, cámara de repuesto,bomba)</li>
                                                   <li><strong>Seguridad:</strong> Silbato, linterna frontal y teléfono móvil cargado</li>
                                                   <li><strong> Proteccion Solar:</strong> Protector solar y gafas de sol</li>
                              </ol>
                           </div>
                        </div>
                        <div class="client_main_2">
                           <div class="client_right_2">
                              <h3 class="name_text">Contacto y emergencias <span style="float: left;"><img src="{{ url_for('static', filename='images/quick-icon.png') }}"></span></h3>
                              <p class="dolor_text">Ambas modalidades</p>
                              <ol class="lorem_text2 ">
                                 <li><strong>Organización:</strong>Club social y deportivo Amigos por el Deporte</li> 
                                 <li><strong>Teléfono de emergencias:</strong>1123312243</li> 
                                 <li><strong>Correo electrónico:</strong> AmigosPorElDeporte@gmail.com</li>
                                 <li><strong>Punto de asistencia médica:</strong>Parque Independencia y puntos estratégicos de hidratación</li>
                              </ol>
                           </div>
                           <div class="client_left_2">
                              <div class="client_img"><img src="{{ url_for('static', filename='images/contactos.png') }}"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_section_2">
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="{{ url_for('static', filename='images/hidratacion.png') }}"></div>
                           </div>
                           <div class="client_right">
                              <h3 class="name_text">Puntos de Hidratacion <span style="float: right;"><img src="{{ url_for('static', filename='images/quick-icon.png') }}"></span></h3>
                              <p class="dolor_text">Ruta 30 km – "Circuito Corto de Tandil"</p>
                              <ol class="lorem_text">
                                 <li>Parque Independencia</li>
                                 <li>Castillo Morisco</li>
                                 <li>Cerro El Centinela</li>
                                 <li>Cerro La Movediza</li>
                                 <li>Represa</li>
                              </ol>
                           </div>
                        </div>
                        <div class="client_main_2">
                           <div class="client_right_2">
                              <h3 class="name_text">Puntos de Hidratacion <span style="float: left;"><img src="{{ url_for('static', filename='images/quick-icon.png') }}"></span></h3>
                              <p class="dolor_text">Ruta 80 km – "Vuelta Completa a Tandil"</p>
                              <ol class="lorem_text">
                                 <li>Parque Independencia</li> 
                                 <li>Tandil Oeste</li> 
                                 <li>Gardey</li>
                                 <li>Azcuenaga</li>
                                 <li>Regreso por caminos rurales</li>
                              </ol>
                           </div>
                           <div class="client_left_2">
                              <div class="client_img"><img src="{{ url_for('static', filename='images/hidratacion.png') }}"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_section_2">
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="{{ url_for('static', filename='images/kit.png') }}"></div>
                           </div>
                           <div class="client_right">
                              <h3 class="name_text">Kit de carrera <span style="float: right;"><img src="{{ url_for('static', filename='images/quick-icon.png') }}"></span></h3>
                              <p class="dolor_text">Ambas modalidades</p>
                              <ol class="lorem_text">
                                 <li><strong>Cada participante deberá contar con el siguiente equipo:</strong></li>
                                 <li><strong>Bicicleta:</strong> MTB con suspensión delantera o doble suspensión</li>
                                 <li><strong>Casco:</strong> Integral o de trail</li>
                                 <li><strong>Guantes:</strong> De MTB, preferentemente con protección</li>
                                 <li><strong>Ropa:</strong> Camiseta técnica, pantalones cortos o largos, chaqueta ligera</li>
                                 <li><strong>Calzado:</strong> Zapatillas de MTB con pedales automáticos o plataforma</li>
                                 <li><strong>Hidratación:</strong> Bidón o mochila con capacidad mínima de 2 litros</li>
                                 <li><strong>Nutrición:</strong> Barras energéticas, geles y frutas secas</li>
                                 <li><strong>Herramientas:</strong> Kit básico de reparación (palancas, cámara de repuesto,bomba)</li>
                                 <li><strong>Seguridad:</strong> Silbato, linterna frontal y teléfono móvil cargado</li>
                                 <li><strong> Proteccion Solar:</strong> Protector solar y gafas de sol</li>
                              </ol>
                           </div>
                        </div>
                        <div class="client_main_2">
                           <div class="client_right_2">
                              <h3 class="name_text">Contacto y emergencias <span style="float: left;"><img src="{{ url_for('static', filename='images/quick-icon.png') }}"></span></h3>
                              <p class="dolor_text">Ambas modalidades</p>
                              <ol class="lorem_text2 ">
                                 <li><strong>Organización:</strong>Club social y deportivo Amigos por el Deporte</li> 
                                 <li><strong>Teléfono de emergencias:</strong>1123312243</li> 
                                 <li><strong>Correo electrónico:</strong> AmigosPorElDeporte@gmail.com</li>
                                 <li><strong>Punto de asistencia médica:</strong>Parque Independencia y puntos estratégicos de hidratación</li>
                              </ol>
                           </div>
                           <div class="client_left_2">
                              <div class="client_img"><img src="{{ url_for('static', filename='images/contactos.png') }}"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_section_2">
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="{{ url_for('static', filename='images/hidratacion.png') }}"></div>
                           </div>
                           <div class="client_right">
                              <h3 class="name_text">Puntos de Hidratacion <span style="float: right;"><img src="{{ url_for('static', filename='images/quick-icon.png') }}"></span></h3>
                              <p class="dolor_text">Ruta 30 km – "Circuito Corto de Tandil"</p>
                              <ol class="lorem_text">
                                 <li>Parque Independencia</li>
                                 <li>Castillo Morisco</li>
                                 <li>Cerro El Centinela</li>
                                 <li>Cerro La Movediza</li>
                                 <li>Represa</li>
                              </ol>
                           </div>
                        </div>
                        <div class="client_main_2">
                           <div class="client_right_2">
                              <h3 class="name_text">Puntos de Hidratacion <span style="float: left;"><img src="{{ url_for('static', filename='images/quick-icon.png') }}"></span></h3>
                              <p class="dolor_text">Ruta 80 km – "Vuelta Completa a Tandil"</p>
                              <ol class="lorem_text">
                                 <li>Parque Independencia</li> 
                                 <li>Tndil Oeste</li> 
                                 <li>Gardey</li>
                                 <li>Azcuenaga</li>
                                 <li>Regreso por caminos rurales</li>
                              </ol>
                           </div>
                           <div class="client_left_2">
                              <div class="client_img"><img src="{{ url_for('static', filename='images/hidratacion.png') }}"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- client section end -->
 {% endblock %}    