{% extends "base.html" %}
{% block content %}
      <div class="contact_section layout_padding">
         <div class="container">
            
            <h1 id="titulo-form">Inscripcion a la Carrera</h1>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="contact_main layout_padding">
                        </div>
                        <form id="formulario" action="{{ url_for('registrarse') }}" method="post">
                           <div class="form-group">
                              <label for="Nombre-Completo"><strong>Nombre Completo:</strong></label>
                              <input type="text" id="Nombre-Completo" name="nombre" placeholder="Nombre Completo" required>
                           </div>
                           <div class="form-group">
                              <label for="Edad"><strong>Edad:</strong></label><br>
                              <input type="text" id="Edad" name="edad" placeholder="Edad" required>
                           </div>
                           <div class="form-group">
                              <label for="Teleforno"><strong>Telefono:</strong></label><br>
                              <input type="text" id="Telefono" name="telefono" placeholder="Telefono" required>
                           </div>
                           <div class="form-group">
                              <label for="mail"><strong>Mail del participante:</strong></label><br>
                              <input type="email" id="Mail" name="mail" placeholder="Mail" required>
                           </div>
                           <div class="form-group">
                              <label for="Categoria"><strong>Categoria:</strong></label><br>
                              <select id="Categoria" name="categoria" required>
                                 <option value="Corta">Corta</option>
                                 <option value="Larga">Larga</option>
                              </select><br>
                           <div class="send_bt"><button type="submit">Send Now</button></div>   
                           </div>
                        </form>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
 {% endblock %}     